// Views/Odeme/Details.cshtml
@model SemWebApp.Models.Odeme

@{
    ViewData["Title"] = "Ödeme Detayları";
}

<h1>Ödeme Detayları</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Miktar)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Miktar) ₺</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.OdemeTarihi)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.OdemeTarihi)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.KullaniciId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.KullaniciId)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Düzenle</a>
    <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
</div>